.mainContainer {
    max-width: 700px;
    margin: 30px 0 0 0;
    box-sizing: border-box;
  
  }

  .limitReachedMessage {
    background-color: rgb(197, 118, 0);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    min-width: 600px;
    min-height: 450px;
    font-size: 40px;
    color: black;
    border-radius: 5px;
   box-shadow: rgb(13, 13, 129) 3px 2px 5px 4px, rgba(223, 5, 5, 0.3) 3px 1px 3px 5px; 
  }