.App {
  background-color: gray;
  
}
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;}


.mainBit {
    width: 100%;
    min-height: 860px;
    display: flex;
   
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    flex-wrap: wrap;
    border-radius: 12px;
    box-sizing: border-box;
}    